body
{
	background-color: black !important;
}

.btn-primary
{
    background-color: transparent;
    border-color: #2c7be5;
    color: #2c7be5;
    border-radius: 50px !important;
}

.btn-primary:hover {
    background-color: #2c7be5;
    color: #fff !important;
}

.btn-group .btn-mode:first-child {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.btn-group .btn-mode:last-child {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px!important;
}

.btn-mode
{
    background-color: #95aac9;
    border-color: #fff;
    color: #2c7be5;
}

.btn-mode:hover {
    background-color: #2c7be5;
    color: #fff !important;
	border-color: #fff;
}

.btn-mode.active
{
	background-color: #2362b7;
    color: #fff !important;
}

.btn-default
{
    background-color: transparent;
    border-color: #2c7be5;
    color: #2c7be5;
    border-radius: 50px !important;
}

.btn-default:hover {
    background-color: #2c7be5;
    color: #fff !important;
}

.btn-default.active
{
	background-color: #2362b7;
    color: #fff !important;
}

.btn-light.active
{
	background-color: #2c7be5 !important;
	border-color: #2c7be5 !important;
    color: #fff !important;
}

a:not([href]):not([tabindex]) {
    color: #2c7be5;
    text-decoration: none
}

.form-control-lg
{
    padding-left: 12px;
    padding-right: 12px;
}

.bootstrap-datetimepicker-widget.dropdown-menu
{
    width: 22rem;
}

form.myds-dropzone
{
	border: 1px dashed #d2ddec;
    border-radius: 0.375rem;
}

.dropzone .dz-message, .dz-message, .dz-message:hover
{
	border-color: white;
	margin: 0px;
}

.dz-message:hover
{
	color: #2c7be5;;
}

.alert-info {
    background-color: #efeae0;
    border-color: #efeae0;
    color: #343a40;
}

.header-pretitle {
	color: white !important;
}

.navbar-light .navbar-nav .active>.nav-link
{
	color: #f66c1d;
}

.nav-tabs .nav-link:not(.active)
{
	color: #6c757d !important;
}

.header-pretitle {
	color: white !important;
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md {
		max-width: 200px;
	}
}

@media (min-width: 768px) {
    .navbar-vertical.navbar-expand-md.fixed-start:not([style*="display: none"])~.main-content {
        margin-left:200px
    }

    .navbar-vertical.navbar-expand-md.fixed-end:not([style*="display: none"])~.main-content {
        margin-right: 200px
    }
}

.navbar-light
{
	background-color: transparent !important;
    border-color: transparent !important;
}

.dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
    display: block;
    padding: 3px 20px;
}

.badge-success {
    background-color: #00d97e;
}
